*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    border: 2px solid black;
    color: white;
    background-image: url(https://media.istockphoto.com/id/1499910734/photo/white-sand-beach-at-night-in-neil-island-andaman-islands.jpg?s=1024x1024&w=is&k=20&c=glrpA9JvDZlIlnvhghBwlokfZ5R-0vNZ06t1eBrHobc=);
    background-size: cover;
}